body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    min-height: 30px;
    margin: 0;
  }

  h2 {
    min-height: 30px;
  }

  h3 {
    min-height: 23px;
  }

  div,
  span,
  p {
    margin: 0;
    font-size: #{$app__font-size}px;
    line-height: $app__line-height;
  }

  a {
    color: $app__link-color;
    cursor: pointer;
    font-weight: bold;
    outline: none;
  }

  button {
    border: solid 2px $app__main-color;
    border-radius: 20px;
    color: $app__main-color;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    transition: 0.2s;

    &:hover {
      background-color: $app__main-color;
      color: #fff;
    }

    &:active {
      background-color: darken($app__main-color, 5%);
    }
  }

  input {
    padding: {
      right: 8px;
      left: 8px;
    }

    border: solid 2px $app__black-color;
    border-radius: 2px;
    outline: none;

    &:focus {
      border: 2px solid $app__main-color;
      color: $app__main-color;
    }
  }

  @include gc__placeholder();

  ::selection {
    background: $app__main-color;
    color: $app__white-color;
  }

  //Firefox
  ::-moz-selection {
    background: $app__main-color;
    color: $app__white-color;
  }
}
