.a__header {
  display: flex;
  justify-content: space-around;
  background-color: $app__main-color;

  a {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($app__main-color, 5%);
      transition: 0.2s;
    }
  }
}
