/* Variables */

// Core
$core_width: 50px;
$core_color: #de0b46;
$core_glow: 0 0 70px 20px #de0b46;

// Outer 1
$outer_one_offset: 120px;
$outer_one_width: 10px;
$outer_one_height: 30px;
$outer_one_color: #de0b46;
$outer_one_glow: 0 0 20px 0 #de0b46;

// Outer 2
$outer_two_offset: 290px;
$outer_two_width: 28px;
$outer_two_height: 5px;
$outer_two_color: #de0b46;
$outer_two_glow: 0 0 20px 0 #de0b46;

// Outer 3
$outer_three_offset: 440px;
$outer_three_width: 55px;
$outer_three_height: 5px;
$outer_three_color: #55e2f9;
$outer_three_glow: 0 0 20px 0 #55e2f9;

// Outer 4
$outer_four_offset: 440px;
$outer_four_width: 6px;
$outer_four_height: 5px;
$outer_four_color: #de0b46;
$outer_four_glow: 0 0 20px 0 #de0b46;

// Outer 5
$outer_five_offset: 410px;

// Menu items
$menu_offset: 540px;
$menu_height: 20px;
$menu_color: transparent;
$menu_glow: 0 0 25px rgba(222, 11, 70, 0.27);

/* Placeholders */

%center {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  transform: translateY(-50%);
}

%decal {
  position: absolute;
  left: 50%;
  width: $core_width;
  height: $core_width;
}

%fade_loop {
  @for $i from 1 through 36 {
    &:nth-of-type(#{$i}) {
      animation: fade 5s ($i/10 + 0s) infinite;
    }
  }
}

%fade_loop_alt {
  @for $i from 1 through 36 {
    &:nth-of-type(#{$i}) {
      animation: fade 7s ($i/10 + 0s) infinite;
    }
  }
}

%circ_loop {
  position: absolute;

  @for $i from 1 through 36 {
    &:nth-of-type(#{$i}) {
      border-radius: 2px;
      transform: rotateZ($i * 10 + (0deg));
    }
  }
}

%circ_loop_quart {
  position: absolute;

  @for $i from 1 through 36 {
    &:nth-of-type(#{$i}) {
      border-radius: 2px;
      transform: rotateZ($i * 4 + (0deg));
    }
  }
}

%circ_loop_quart_alt {
  position: absolute;

  @for $i from 1 through 36 {
    &:nth-of-type(#{$i}) {
      border-radius: 2px;
      transform: rotateZ($i * 4 + (0deg) - 180);
    }
  }
}

/* Styles */

.a__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    ellipse at top left,
    rgba(222, 11, 70, 0.26) -160%,
    rgba(255, 255, 255, 0) 103%
  ),
    -webkit-radial-gradient(center, ellipse cover, #0c1019 0%, #0b0b0e 100%);
  font-family: montserrat;
  perspective: 1800;
  perspective-origin: 50% 16%;

  .grain {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/overlay.png');
    opacity: 1;
    pointer-events: none;
    transform: scale(1) !important;
  }

  .center {
    @extend %center;

    width: $core_width;
    height: $core_width;
    animation: wiggle 20s infinite linear;
    transform: translateY(-21px) translateZ(-870px) rotateX(69deg)
      rotateY(-26deg) rotatez(-647deg) scale(0.9);

    .core {
      width: $core_width;
      height: $core_width;
      background: $core_color;
      border-radius: $core_width;
      box-shadow: $core_glow;
    }

    .outer_one {
      @extend %decal;

      transform: translateX(-$outer_one_offset) translateY(-50%);

      &__piece {
        width: $outer_one_width;
        height: $outer_one_height;
        background: $outer_one_color;
        box-shadow: $outer_one_glow;
        transform-origin: $outer_one_offset 0;

        @extend %circ_loop;
      }
    }

    .outer_two {
      @extend %decal;

      transform: translateX(-$outer_two_offset) translateY(-50%);

      &__piece {
        width: $outer_two_width;
        height: $outer_two_height;
        background: $outer_two_color;
        box-shadow: $outer_two_glow;
        transform-origin: $outer_two_offset 0;

        @extend %circ_loop;
        @extend %fade_loop;
      }
    }

    .outer_three {
      @extend %decal;

      transform: translateX(-$outer_three_offset) translateY(-50%);

      &__piece {
        width: $outer_three_width;
        height: $outer_three_height;
        background: $outer_three_color;
        box-shadow: $outer_three_glow;
        transform-origin: $outer_three_offset 0;

        @extend %circ_loop_quart;
        @extend %fade_loop;
      }
    }

    .outer_four {
      @extend %decal;

      transform: translateX(-$outer_four_offset) translateY(-50%);

      &__piece {
        width: $outer_four_width;
        height: $outer_four_height;
        background: $outer_four_color;
        box-shadow: $outer_four_glow;
        transform-origin: $outer_four_offset 0;

        @extend %circ_loop_quart_alt;
        @extend %fade_loop_alt;
      }
    }

    .outer_five {
      @extend %decal;

      transform: translateX(-$outer_five_offset) translateY(-50%);

      &__piece {
        width: $outer_four_width;
        height: $outer_four_height;
        background: $outer_four_color;
        box-shadow: $outer_four_glow;
        transform-origin: $outer_five_offset 0;

        @extend %circ_loop_quart_alt;
        @extend %fade_loop_alt;
      }
    }

    .pieces {
      @extend %decal;

      transform: translateX($menu_offset) translateY(-50%);

      .tip {
        position: absolute;
        top: 70px;
        left: 105%;
        width: 100%;
        color: #85dfe4;
        font-size: 17px;
        font-weight: 400;
        opacity: 0;
        transition: all 0.2s 0.3s;
      }

      span {
        position: absolute;
        top: 19px;
        left: 34px;
        width: 270px;
        transform: translateZ(-770px) rotateZ(0deg);
        transition: all 0.2s 0.1s;
      }

      .line {
        position: absolute;
        top: 17px;
        left: -547px;
        width: 0;
        height: 5px;
        background: #de0b46;
        opacity: 0;
        transform: rotatez(4deg);
      }

      .future_ui__piece {
        position: absolute;
        height: $menu_height;
        border: 3px solid #de0b46;
        background: $menu_color;
        border-radius: 100px !important;
        box-shadow: 0 0 25px rgba(222, 11, 70, 0.27);
        box-shadow: $menu_glow;
        color: white;
        font-size: 30px;
        font-weight: 900;
        text-align: left;
        transform-origin: -$menu_offset 0;
        transform-style: preserve-3d;
        transition: all 1s 0.1s;
        padding: {
          top: 16px;
          right: 30px;
          bottom: 44px;
          left: 30px;
        }

        @for $i from 1 through 36 {
          &:nth-of-type(#{$i}) {
            width: 220 + random(73) + px;
            transform: rotateZ($i * 10 + (0deg) - 55) rotateY(0deg);

            &:hover {
              animation: blink 0.4s 0.4s;
              background: #de0b46;
              box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
              color: white;
              cursor: pointer;
              transform: rotate($i * 10 + (0deg) - 55) translatex(20px);

              span {
                position: absolute;
                top: 12px;
                left: 240px;
                width: 270px;
                text-shadow: 0 13px 0 rgba(30, 30, 30, 0.4);
                transform: translateZ(100px) rotateZ(0deg);
              }

              .tip {
                left: 110%;
                opacity: 1;
              }

              .line {
                width: 547px;
                opacity: 1;
                transition: all 0.4s 0.2s;
              }
            }

            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }

        @extend %circ_loop;
      }

      .blank {
        border: 6px solid #3d4b6d !important;
        background: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.27);
        opacity: 0.1;
        pointer-events: none;
      }
    }
  }
}

/* animations */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes inalt {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(0) translateZ(-840px) rotateX(64deg) rotateY(-21deg)
      rotatez(80deg) scale(0.9);
  }

  25% {
    transform: translateY(0) translateZ(-820px) rotateX(66deg) rotateY(-24deg)
      rotatez(84deg) scale(0.9);
  }

  50% {
    transform: translateY(0) translateZ(-840px) rotateX(62deg) rotateY(-23deg)
      rotatez(82deg) scale(0.9);
  }

  75% {
    transform: translateY(0) translateZ(-840px) rotateX(63deg) rotateY(-19deg)
      rotatez(78deg) scale(0.9);
  }

  100% {
    transform: translateY(0) translateZ(-840px) rotateX(64deg) rotateY(-21deg)
      rotatez(80deg) scale(0.9);
  }
}
